/*
SPLIT-VIEW 3
*/

.ponaco-main {

    .ponaco-splitview-3 {
        margin: 0 0 0px 0;
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../resources/keybooks.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;

        .wx-component-3 {
            width: 100%;
            height: auto;
            font-family: $common-font;

            .splitview {
                margin: 0px 0px 0px 00px;
                display: grid;
                grid-template-columns: 2fr 2fr;

                .splitview1 {
                    margin: 0px 30px 0px 0px;

                    .split-view-contents {
                        height: inherit;
                        margin-left: 40px;
                        margin-right: 10px;

                        .content-section-title {
                            font-size: 50pt;
                            font-weight: 325;
                            margin-bottom: 20px;
                        }

                        .content-section-area {
                            word-wrap: break-word;
                            font-size: 11.5pt;
                            max-width: 500px;
                        }
                    }

                }

                .splitview2 {
                    .split-view-contents {
                        margin-top: 350px;
                        display: flex;
                        justify-content: center;
                    }

                    .major-content {
                        width: 80%;
                        border-top: 1px solid $layout-color;
                        margin-top: 20px;
                        font-size: 11.5pt;

                        >div {
                            margin: 25px 0px 20px 0px;
                        }

                        .content-redirect {
                            @include button();
                            @include center();
                            cursor: pointer;
                            border: 1px solid $layout-color;
                            background-color: $layout-color;
                            color: #fff;
                            transition: all .5s;
                            font-weight: 300;

                            &:hover {
                                background-color: unset;
                                color: #000;
                            }
                        }
                    }

                }
            }

        }
    }

}

/*
SPLIT-VIEW 3
*/