<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-nav-info-1">
            <div class="info-1">
                <a href="#"><span class="txt">NDEJJE</span> <br> SENIOR SECONDARY SCHOOL</a><!---school badge next to school name-->
            </div>
            
    
            <div class="info-2">
                <div class="p-1">JOIN THE <br> COMMUNITY! </div>
                <div class="registration-btn-wrapper">
                    <div class="registration-btn">ENROLL NOW</div>
                </div>
            </div>
        </div>

    
        <div class="footer-nav-info-2">
            <div class="i-1">
                <p>INFO</p>
                <p>123-456-789</p>
                <p>@=info@school</p>
            </div>

            <div class="i-2">
                <p>Adress</p>
                <p>luwero</p>
                <p>Bombo</p>
            </div>

            <div class="i-3">
                <p>Follow</p>
                <p>insta</p>
                <p>Facebook</p>
            </div>
        </div>
    </footer>
</body>
</html>