<!---
    footer Component Template
-->

<footer class="component-footer">
    <div class="component-footer-wrapper">
        <div class="component-section-1 section-comp">
            <div class="xtr-1 xtr-w">
                <div class="wrapper">
                    <div class="tr1">Ndejje Senior Secondary School</div>
                    <div class="tr2">No Pains No Gains</div>
                </div>
            </div>
            <div class="xtr-2 xtr-w">
                <div class="wrapper">
                    <div class="tr1">Join The Community</div>
                    <div class="tr2 enroll-btn">Enroll Now</div>
                </div>
            </div>
        </div>
        <div class="component-section-2 section-comp">
            <div class="xtr-1 xtr-component">
                <div class="content-wrapper">
                    <div class="xtr-component-title">Info</div>
                    <div class="xtr-data-wrapper">
                        <span class="x-number item">772410852</span>
                        <span class="x-email item">ndejje@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="xtr-2 xtr-component">
                <div class="content-wrapper">
                    <div class="xtr-component-title">Address</div>
                    <div class="xtr-data-wrapper">
                        <span class="x-address-1 item">P.O.Box 193</span>
                        <span class="x-address-2 item">Bombo, Uganda</span>
                    </div>
                </div>
            </div>
            <div class="xtr-3 xtr-component">
                <div class="content-wrapper">
                    <div class="xtr-component-title">Follow</div>
                    <div class="xtr-data-wrapper">
                        <span class="x-fl-link x-fl-facebook item" title="Follow us on Facebook">Facebook</span>
                        <span class="x-fl-link x-fl-instagram item" title="Follow us on Instagram">Instagram</span>
                    </div> 
                </div>
            </div>
            <div class="control-component">&UpArrow;</div>
        </div>
    </div>
</footer>