<!---
    Joy and Pride Component
-->
<div class="ponaco-splitview-2">
    <div class="grid-box-1">
        <div class="content-area-1">The school of joy and pride</div>
    </div>
    <div class="grid-box-2">
        <div class="content-area-2 area-box">
            <h2>Self-Faced Programs</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor totam dolorem dolore
                veniam qui nostrum provident possimus perferendis velit voluptatibus
                tempora repellendus nobis soluta dolores facere vel in, iure debitis!
            </p>
        </div>
    </div>
    <div class="grid-box-3">
        <div class="content-area-3 area-box">
            <h2> Simple Online enrolment </h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga labore vitae,
                sequi doloribus adipisci enim obcaecati delectus autem corporis cumque aliquid eveniet recusandae id
                aperiam! Impedit hic magnam doloribus suscipit!
            </p>
        </div>
    </div>
    <div class="grid-box-4">
        <div class="content-area-4 area-box">
            <h2> Professional Mentors </h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Numquam odio doloremque expedita et. Enim, ab facere, deserunt
                veritatis sunt hic cupiditate dolorum excepturi ipsa inventore fugiat optio neque, ullam voluptates?
            </p>
        </div>
    </div>
</div>