


$layout-color: #00a4e0;
$common-font : "Segoe UI";




@mixin button {
    height: 50px;
    width: 160px;
}


div {
    @include button();   
}

@mixin common_btn {
    @include button();
    @include center();
    background-color: $layout-color;
    border: 1px solid $layout-color;
    font-weight: 350;
    color: #fff;
    transition: all .5s;
    &:hover{
        color: #000;
        background-color: unset;
    }
}


@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}