
/*
    The Common Variables used in th setup of the scss's file structure

*/


@font-face {
    font-family: "segmdl" ;
    font-display: block;
    src: url("../resources/segmdl2.ttf") format("truetype");
}

.codicon[class *=codicon-]{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    user-select: none;
}


.codicon-education::before {
    content: "\E7BE";
}



$layout-color: #00a4e0;
$common-font : "Segoe UI";


@mixin button {
    height: 50px;
    width: 160px;
}

@mixin common_btn {
    @include button();
    @include center();
    background-color: $layout-color;
    border: 1px solid $layout-color;
    font-weight: 350;
    color: #fff;
    transition: all .5s;
    &:hover{
        color: #000;
        background-color: unset;
    }
}


@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes slidein {
    0% {
        display: none;
        opacity: 0;
        transform: translateX(15px);
    }
    100%{
        width: 100px;
        display: flex;
        opacity: 1;
        color: #fff;
        transform: translateX(0px);
    }
}
