<!---
    Insights Component
-->
<div class="ponaco-splitview-5">
    <div class="vw-1">
        <div class="sec-1">
            <h1>Insights</h1>
        </div>
        <div class="vw-content">
            <div class="vw-content-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="content-view-redirect">View More</div>
        </div>

        <!--the grid cards-->
        <div class="vw-content-2-cards">
            <div class="vw-content-cards-wrapper">
                <div class="wrapper-2">
                    <div class="vw-card card-1">
                        <div class="check-out-comp">Check It Out!</div>
                        <div class="card-component-picture crx-1"></div>
                        <div class="card-component-title">ICT Club</div>
                        <div class="card-componentn-short-descrpt">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, similique fuga suscipit
                            tempora repellendus error repudiandae voluptatibus ea, optio </div>
                    </div>
                    <div class="vw-card card-1">
                        <div class="check-out-comp">Check It Out!</div>
                        <div class="card-component-picture crx-2"></div>
                        <div class="card-component-title">Sports Club</div>
                        <div class="card-componentn-short-descrpt">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, similique fuga suscipit
                            tempora repellendus error repudiandae voluptatibus ea, optio </div>
                    </div>
                    <div class="vw-card card-1">
                        <div class="check-out-comp">Check It Out!</div>
                        <div class="card-component-picture crx-3"></div>
                        <div class="card-component-title">Bussiness Club</div>
                        <div class="card-componentn-short-descrpt">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, similique fuga suscipit
                            tempora repellendus error repudiandae voluptatibus ea, optio </div>
                    </div>
                    <div class="vw-card card-1">
                        <div class="check-out-comp">Check It Out!</div>
                        <div class="card-component-picture crx-4"></div>
                        <div class="card-component-title">Wildlife Club</div>
                        <div class="card-componentn-short-descrpt">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, similique fuga suscipit
                            tempora repellendus error repudiandae voluptatibus ea, optio </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>