
/*
    The Common Variables used in th setup of the scss's file structure

*/

body {
    overflow-x: hidden;
}

@font-face {
    font-family: "Roboto";
    src: url("../resources/Roboto-Regular.ttf") format("truetype");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


$layout-color: #00a4e0;
$common-font : "Segoe UI";


@mixin button {
    height: 50px;
    width: 160px;
}

@mixin common_btn {
    @include button();
    @include center();
    background-color: $layout-color;
    border: 1px solid $layout-color;
    font-weight: 350;
    color: #fff;
    transition: all .5s;
    &:hover{
        color: #000;
        background-color: unset;
    }
}


@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes slidein {
    0% {
        display: none;
        opacity: 0;
        transform: translateX(15px);
    }
    100%{
        width: 100px;
        display: flex;
        opacity: 1;
        color: #fff;
        transform: translateX(0px);
    }
}
